html, body {
  background: Snow;
  font-size: 12pt;
}

.collapsible-header {
  font-weight: bold;
}

.collapsible-body {
  padding: 0;
}

.collection-item {
  color: #039be5 !important;
}

.btn, .btn:hover {
  background: #961e82;
}
