html, body {
  min-width: 350px;
  height: 100px;
  padding: 6px !important;
  font-size: 12pt;
}

#container {
  margin-top: 0 !important;
}

#moreBtn {
  float: none;
  margin: 0 auto;
  background: #961e82;
}
